* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 4rem;
  text-align: center;
  padding: 2rem;
  width: 30%;
}

span {
  color: blue;
  cursor: pointer;
}
