* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 2rem;
  gap: 2rem;
}

ul {
  list-style-type: none;
}

label {
  cursor: pointer;
}

input {
  margin-right: 0.8rem;
  cursor: pointer;
}

button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
