* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #ccc;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  hr {
    align-self: stretch;
    border: 1px dotted black;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  .randomJokeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 2rem;

    .btn-select {
      display: flex;
      gap: 1rem;
    }

    .randomJoke {
      min-height: 30px;
      font-size: 2rem;
    }
  }

  .jokeSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 2rem;

    .searchResult {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 4rem;
      padding: 2rem;
      font-size: 2rem;

      .searchedJoke {
        background: #039afb;
        border-radius: 10px;
        color: #fff;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
          rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
          rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
          rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
          rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
          rgba(0, 0, 0, 0.09) 0px 32px 16px;
      }
    }
  }
}
