* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

button {
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  cursor: pointer;
}

h3 {
  margin: 1rem 0;
}
